header{
    width: 27%;
    margin: 0;
    padding: 0;
    position: fixed;

}

@media(max-width:600px){
  header{
    position: static;
    width: 100%;
  }
}

@media(max-width:400px){
    header{
      position: static;
      width: 106%;
    }
  }