main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    padding-left: 28%;
    gap: 8vh;
}

main img{
    background-color: #C1FF95;
}

@media(max-width:1279px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 65%;
        padding-left: 30%;
        gap: 18vh;
    }
}

@media(max-width:920px){
    main{
        padding-left: 33%;
        gap: 32vh;
    }
}
@media(max-width:768px){
    main{
        width: 67%;
        padding-left: 40%;
        gap: 25vh;
    }
}

@media(max-width:768px){
    main{
        width: 67%;
        padding-left: 40%;
        gap: 25vh;
    }
}

@media(max-width:600px){
    main{
        width: 100%;
        gap:10vh;
        padding: 0px 0px 0px 3vh;
    }
}
