.perfil{
    height: 16vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 40vh;

}

.perfil img{
    width: 10vh;
    height: 10vh;
    margin: 0;
}

.perfil h3{
    color: black;
}

.perfil p{
    width: 90%;



}


@media(max-width:600px){
    .perfil{
        margin-bottom: 96vh;
    }
}

@media(max-width:780px){
    .perfil{
        margin-bottom: 69vh;
    }
}


