.icons{
    background-color: black;
    width: 40vh;
    height: 7vh;
    font-size: 2.6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
    color: white;
}

@media(max-width:600px){
    .icons{
        width: 20vh;
        background: none;
    }
}

@media(max-width:460px){
    .icons{
        width: 100vw;
        background: none;
        font-size: 5.9vh;
        text-align: center;
    }
  }