.porcent{
    width: 10vw;
}

.progress{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 12vw;
    

}

.progress h3{
    color: black;
    text-decoration: none;
    text-align: center;
}

.progress img{
    width: 20vh;
    height: 20vh;
    margin-bottom: 2vh;
}