
.CardGeneral {
    display: flex;
    flex-direction: row;
    width: 40vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    background-color: #39a900;
    height: 20vh;
}

.CardGeneral p{
    color: white;
}

.CardGeneral a{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.contentImgCard h4{
    color: white;
}
.contentImgCard{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgCard {
    width: 6rem;
    height: 6rem;    
}

.ContentofCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding: 0px;
}

.titleCard {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

.DescripCard {
    font-size: 1rem;
    margin: 0px 0px 5px 0px;
}

.enlaCard {
    border-radius: 10px;
    width: 13vh;
    background-color: #58d41b;
    font-size: 1rem;
    color: #000000;
    /* Cambia el color según tus preferencias */
    text-decoration: none;
    text-shadow: none;
}

.enlaCard:hover {
    text-decoration: underline;
}

@media(max-width:1279px){
    
.CardGeneral {
    
    width: 40vh;
    height: 30vh;
}

.contentImgCard h4{
   font-size: 3vh;
   text-align: center;
}
}