.experiencie img{
    
    width: 10vh;
    height: 10vh;
    margin: 0;
}


.tecnologys{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    gap: 10vh;

}

.tecnologys img{
    background-color: white;
}

@media(max-width:600px){
    .tecnologys{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
    }
}