.reference img{
    width: 10vh;
    height: 10vh;
    margin: 0;
}



.re{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

